<main>
    <form>
        <!-- Campo do formulário -->
        <div class="box">
            <div class="form-group">
                <label for="quantidade">
                    Quantidade de assistências do Creas:
                </label>
                <select class="form-control" nome="quantidade" ng-model="quantidade" ng-options="quantidade for quantidade in quantidades">
                    <option value="">Selecione uma quantidade de assistências Creas</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="listarAssistenciasSociaisCreas(quantidade)">
                Listar
            </button>
        </div>

        <!-- Tabela de Escolas -->
        <div class="box">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Logradouro</th>
                        <th scope="col">Município</th>
                        <th scope="col">bairro</th>
                        <th scope="col">UF</th>
                        <th scope="col">Cep</th>
                        <th scope="col">Detalhar</th>
                        <th scope="col">Mapa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="assistenciaSocialCreas in assistenciasSociaisCreas">
                        <td scope="row">{{assistenciaSocialCreas.idCreas}}</td>
                        <td scope="row">{{assistenciaSocialCreas.nomeCreas}}</td>
                        <td scope="row">{{assistenciaSocialCreas.logradouro}}</td>
                        <td scope="row">{{assistenciaSocialCreas.municipio}}</td>
                        <td scope="row">{{assistenciaSocialCreas.bairro}}</td>
                        <td scope="row">{{assistenciaSocialCreas.uf}}</td>
                        <td scope="row">{{assistenciaSocialCreas.cep}}</td>
                        <td md-cell>

                          <md-button aria-label="Detalhar CREAS"
                            ui-sref="pesquisarAssistenciaSocialCreasPorId(
                              {idCras: assistenciaSocialCreas.idCras})"
                            ui-sref-opts="{reload: true}">
                              <ng-md-icon icon="dehaze" size="18"></ng-md-icon>
                              <md-tooltip md-direction="bottom">
                                  Detalhar Assistência Social
                              </md-tooltip>
                          </md-button>
                      </td>
                      <td md-cell>

                          <md-button aria-label="Exibir no Mapa"
                            ui-sref="pesquisarAssistenciaSocialCreasPorCoordenadas(
                              {
                                latitude: assistenciaSocialCreas.lat,
                                longitude:assistenciaSocialCreas.long
                              })"
                            ui-sref-opts="{reload: true}">
                              <ng-md-icon icon="dehaze" size="18"></ng-md-icon>
                              <md-tooltip md-direction="bottom">
                                  Exibir no Mapa
                              </md-tooltip>
                          </md-button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </form>
</main>
