<main>
      <form ng-controller="pesquisarEmpregosPorCodigoCtrl">
     <div class="box">
         <div class="form-group">
             <label for="nome">
                 Código:
             </label>
             <input class="form-control" type="text" name="codPosto"
               ng-model="codPosto" />
         </div>

         <button type="button" class="btn btn-primary btn-lg btn-block"
           ng-click="pesquisarEmpregosPorCodigo(codPosto)">
             Pesquisar
         </button>
     </div>
      <!-- Tabela de Pesquisa Empregos -->
      <div class="box">
          <table class="table table-hover">
              <thead class="thead-light">
                  <tr>
                    <th scope="col">Código do Posto</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Município</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Cep</th>
                    <th scope="col">UF</th>
                    <th scope="col">Telefone</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td scope="row">{{emprego.codPosto}}</td>
                      <td scope="row">{{emprego.nome}}</td>
                      <td scope="row">{{emprego.endereco}}</td>
                      <td scope="row">{{emprego.municipio}}</td>
                      <td scope="row">{{emprego.bairro}}</td>
                      <td scope="row">{{emprego.cep}}</td>
                      <td scope="row">{{emprego.uf}}</td>
                      <td scope="row">{{emprego.telefone}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </form>
</main>
